* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "montserrat", sans-serif;
  background-color: #202124;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1145px;
}

.active {
  color: red;
}

.header {
  padding-top: 100px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo {
  margin-bottom: 20px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
}
.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 584px;
  position: relative;
}
.search__input {
  color: #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 10px 50px 10px 10px;
  height: 44px;
  background: #202124;
  border: 1px solid #5f6368;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 24px;
  width: 100%;
  max-width: 584px;
  outline: none;
}
.search__button {
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 5px;
  position: absolute;
  top: 9px;
  right: 5%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.search__img {
  width: 10px;
  height: 10px;
}

.searching-results {
  padding-top: 50px;
  padding-bottom: 50px;
}

.result-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.result-list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-bottom: 30px;
}
.result-list__title {
  display: block;
  color: #d3cfc9;
  margin-bottom: 20px;
}
.result-list__description {
  color: #b5aea4;
}
.result-list__link {
  display: block;
  margin-bottom: 20px;
}

.searching-link {
  text-align: center;
}
.searching-link__item:hover {
  color: red;
}